body {
	font-family: Stem, Arial, Times New Roman;
}

p {
	margin-bottom: 50px; 	
}

.right-btn {
	right: 10px;
}

.left-btn {
	left: 10px;
}

.store-btn {
	bottom: 5%;
	left: 20%;
	border: thick;
	padding: 10px 15px;
	text-decoration: none;
	background-color: #1C2A3C;
	color: white;
	font-size: 24px;
	border-radius: 0px;
	transition: 0.3s;
}

	.store-btn:hover {
		border: thick;
		background-color: #628020;
		color: #C5C3C0;
	}

		.store-btn:hover .logo {
			opacity: 1;
		}


.move-btn {
	top: 50%;
	width: 10%;
	position: fixed;
	color: cornflowerblue;
	border: groove;
	font-size: 24px;
	cursor: pointer;
	transition: 0.3s;
}

	.move-btn:hover {
		color: #628020;
	}

.logo {
	display: inline-block;
	opacity: 0;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	margin-right: 10px;
	transition: 0.3s;
}
