html {
    font-size: 14px;
    background-color: gray;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    background-color: gray;
}

header {
    background-color: gray;
}


body {
    margin-bottom: 60px;
    background-color: gray;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.block-list {
    display: inline-flex; /* Делает элементы блока гибкими */
    flex-wrap: wrap; /* Разрешает перенос блоков на новую строку */
    /*    border-block-end: medium;*/
    border: 10px;
    gap: 3px; /* Расстояние между блоками */
    list-style: none; /* Убирает стандартные точки списка */
    padding: 0; /* Убирает внутренний отступ */
}

    .block-list li {
        background: #f0f0f0; /* Цвет фона блока */
        padding: 15px 20px; /* Внутренние отступы */
        border: 1px solid #ccc; /* Граница */
    }